@using BSCodeModels_Lib
@model About
@{
    Layout = "_ActionLayout";
    ViewData["Header"] = "About";
}


<div class="row" >
    <div class="col-3">
        <a class="btn btn-outline-primary" asp-area="" asp-controller="@(ViewContext.RouteData.Values["Controller"].ToString())" asp-action="Add">Add @ViewData["Header"]</a>
    </div>
</div>

<div class="row" style="margin-top: 5vh">
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" >Title</th>
                <th scope="col" style="width: 20%">Actions</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                <th scope="row">1</th>
                <td>@Model.Title</td>
                <td scope="row">
                    <a asp-action="Edit" asp-controller="About" class = "btn btn-success" asp-route-id="@(Model.ID)" style="width: 48%"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Delete" asp-controller="About" class = "btn btn-danger" asp-route-id="@(Model.ID)" style="width: 48%"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>